/* Master Styles */

body {
    margin: 0px;
    padding: 0px;
}

html,
body,
.view {
    height: 100%;
}

.view {
    background: url("http://www.walldevil.com/wallpapers/h13/dark-wallpaper-blue-green-space-wallpapers.jpg")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
